html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
}
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  /*font-size: 18px;*/
  /*background: #fff;*/
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.linear-gradient {
  background: linear-gradient(
    125deg,
    rgba(0, 50, 50, 1) 0%,
    rgba(0, 30, 30, 1) 19.08%,
    rgba(0, 13, 13, 1) 42.45%,
    rgba(0, 3, 3, 1) 68.08%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -moz-linear-gradient(
    rgba(0, 50, 50, 1) 0%,
    rgba(0, 30, 30, 1) 19.08%,
    rgba(0, 13, 13, 1) 42.45%,
    rgba(0, 3, 3, 1) 68.08%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    -35deg,
    rgba(0, 50, 50, 1) 0%,
    rgba(0, 30, 30, 1) 19.08%,
    rgba(0, 13, 13, 1) 42.45%,
    rgba(0, 3, 3, 1) 68.08%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -o-linear-gradient(
    -35deg,
    rgba(0, 50, 50, 1) 0%,
    rgba(0, 30, 30, 1) 19.08%,
    rgba(0, 13, 13, 1) 42.45%,
    rgba(0, 3, 3, 1) 68.08%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    -35deg,
    rgba(0, 50, 50, 1) 0%,
    rgba(0, 30, 30, 1) 19.08%,
    rgba(0, 13, 13, 1) 42.45%,
    rgba(0, 3, 3, 1) 68.08%,
    rgba(0, 0, 0, 1) 100%
  );
}

header {
  padding-left: 10px;
  width: 100%;
  height: 150px;
  display: flex;
}
header img {
  float: left;
  align-self: center;
  padding-left: 10px;
  max-width: 50%;
}

footer {
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #76d48f;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid #76d48f;
}

.flex {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.img-background {
  background-image: url("./img/bg-lines@2x.png");
  background-size: cover;
  background-position: center, center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slide-title {
  color: #fff;
  width: 100%;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: left;
  padding-left: 15px;
}

/*line under titles*/
.title:after {
  height: 2px;
  margin-top: 20px;
  display: block;
  width: 35%;
  background: #fff;
  content: "";
}

.slide-content-text {
  color: #fff;
  width: 100%;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: left;
  line-height: 24px;
}
.slide-content-text p {
  padding-left: 15px;
  padding-right: 15px;
}

.slide-content-text .title {
  font-size: 22px;
}
.slide-content > .title:after {
  height: 2px;
  display: block;
  width: 15%;
  margin-top: 20px;
  background: #fff;
  content: "";
}

.icon {
  transform: scale(0.5);
}

.list {
  display: flex;
  flex-direction: column;
}

.li {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.li img {
  transform: scale(0.5);
}

@media (max-width: 480px) {
  html,
  body,
  .swiper-container {
    height: calc(100vh - 56px);
  }
}

/*TODO: rethink logo-header {width & height}*/
/*TODO: check why fonts are not loading*/
